body {
    background-color: #a2dae9
}

#opening_statement{
    font-size: 20pt;
    text-align: center;
}
#titlePage_heading{
    text-align: center;
}
#downtownTampa_Picture{
    display: block;
    margin-left: auto;
  margin-right: auto;
  height: 300pt;
  width: 600pt;
}

#map {
  height: 60%;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
