body {
    background-color: #a2dae9
}

#opening_statement{
    font-size: 20pt;
    text-align: center;
}
#titlePage_heading{
    text-align: center;
}
#downtownTampa_Picture{
    display: block;
    margin-left: auto;
  margin-right: auto;
  height: 300pt;
  width: 600pt;
}

#map {
  height: 90%;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#submit_zipcode_button{
  margin-left: 5pt;
}

#select_zipcode_label{
  font-size: 15pt;
}

#col-btn{
  background-color: black !important;
}

#offcanvas{
  top: 56px !important;
}

.p-4 {
    padding: 0rem!important;
}